<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Speedex Courier</title>
    <style>
	#slider
	{
		height:500px;
		width:1330px;
		border:1px solid;
		background-size:100% 100%;
		background-repeat:no-repeat;
		margin-bottom:10px;
		background-attachement:absolute;
	}
	</style>
	<script>
	var img=["sliderD.jpeg.","sliderE.jpeg","sliderF.jpg","slider4.jpeg"];
	var i=0;
	function slide()
	{
		var div=document.getElementById("slider");
		div.style.backgroundImage="url('static/images/"+img[i]+"')";
		i++;
		if(img.length==i)
		{
			i=0;
		}
		window.setTimeout("slide()",3000);
	}
	</script>
</head>
<body onload="slide()">
<div class="container-fluid" style="min-height:1000px;border:1px solid;">
    <div  class="row" class="col-sm-12" style="min-height:90px;background-color:white;">
        <div class="col-sm-6" style="min-height:90px;width:300px;float:left;">
            {% load static %}
            <img src="{% static 'images/logo.png' %}" height="90px" width="200px;"/>
        </div>
        <div class="col-sm-6" style="min-height:80px;width:700px;float:right;margin-left:30px;">
            <p class="h1" style="font-size:30px;color:tomato;font-family:forte;">SPEEDEX COURIER SERVICE</p>
        </div>
    </div>
    <div  class="row" class="col-sm-12" style="min-height:40px;">
        <div id="menu3">
		<ul style="list-style-type:none;">
			<li style="display:inline-block;text-align:center;width:150px;padding:15px;background-color:lightgreen;border-radius:5px;"> <a href="{% url 'index' %}">HOME</a></li>
			<li style="display:inline-block;text-align:center;width:150px;padding:15px;background-color:lightgreen;border-radius:5px;"> <a href="{% url 'about' %}">ABOUT US </a></li>
			<li style="display:inline-block;text-align:center;width:150px;padding:15px;background-color:lightgreen;border-radius:5px;"> <a href="{% url 'login' %}">LOGIN</a></li>
			<li style="display:inline-block;text-align:center;width:150px;padding:15px;background-color:lightgreen;border-radius:5px;"> <a href="{% url 'tracking' %}">PACKET TRACKING </a></li>
			<li style="display:inline-block;text-align:center;width:150px;padding:15px;background-color:lightgreen;border-radius:5px;"> <a href="{% url 'complain' %}">COMPLAIN </a></li>
            <li style="display:inline-block;text-align:center;width:150px;padding:15px;background-color:lightgreen;border-radius:5px;"> <a href="{% url 'enquiry' %}">ENQUIRY </a></li>
            <li style="display:inline-block;text-align:center;width:150px;padding:15px;background-color:lightgreen;border-radius:5px;"> <a href="{% url 'career' %}">CAREER</a></li>
		</ul>
        </div>
    </div>
    <div  id="middle" style="min-height:1000px;border:1px solid;background-image:url('static/images/bcg.jpeg')">
        <div id="lside" style="min-height:1000px;width:510px;;float:left;">
            <div id="lsidea" style="height:80px;width:500px;border:3px ;">
                <p style="font-size:30px;text-align:center;color:tomato;">Notification</p>
            </div>
            <div id="lsideb" style="height:750px;width:510px;">
            <marquee direction="up" height="1000px;" onmouseover="stop()" onmouseout="start()">
            {% for n in nf %}
                <span style="text-align:center;">
            <p style="color:blue;font-size:20px;">{{n.notificationtext}}</p>
            <p>{{n.posteddate}}</p>
                </span>
            {% endfor %}
            </marquee>
            </div>
        </div>
              <div id="rside" style="min-height:1000px;width:800px;float:right;background-image:url('static/images/bcg.jpeg');">
            <form  method="post" enctype="multipart/form-data">
                {% csrf_token %}
            <h2 style="color:orange;text-align:center;font-size:45px;font-style:oblique;">Apply for job
            </h2>
                <table  style="margin:0 auto;font-size:20px;width:60%;cellspacing:30px;">
                    <tr>
                        <td>Enter name</td>
                        <td><input type="text" name="name" required style="width:200px;"/></td>
                    </tr>
                    <tr>
                        <td>Select gender</td>
                        <td><input type="radio" name="gender" value="Male"/>Male
                            <input type="radio" name="gender" value="Female"/>Female</td>
                    </tr>
                    <tr>
                        <td>Enter address</td>
                        <td><textarea name="address" required style="height:100px;width:200px;resize:none;"></textarea></td>
                    </tr>
                    <tr>
                        <td>Enter contact no.</td>
                        <td><input type="text" name="contactno" required style="width:200px;"/></td>
                    </tr>
                    <tr>
                        <td>Enter Emailaddress</td>
                        <td><input type="email" name="emailaddress" required style="width:200px;"/></td>
                    </tr>
                    <tr>
                        <td>Select qualification</td>
                        <td ><select style="width=200px;" name="qualification" required>
                            <option>--select--</option>
                            <option>B.tech</option>
                            <option>MCA</option>
                            <option>M.Tech</option>
                            <option>Diploma</option>
                        </select></td>
                    </tr>
                    <tr>
                        <td>Enter experience in years</td>
                        <td><input type="text" name="experience" required style="width:200px;"/></td>
                    </tr>
                    <tr>
                        <td>Enter your keyskills</td>
                        <td><textarea name="keyskills" required style="height:100px;width:200px;resize:none;"></textarea>
                        </td>
                    </tr>
                    <tr>
                        <td>Select file to upload</td>
                        <td><input type="file" name="myfile"/></td>
                    </tr>
                    <tr>
                        <td>&nbsp</td>
                        <td><input type="submit" value="Apply" style="height:30px;width:100px;background-color:grey;"/></td>
                    </tr>
                </table>
             </form>
                  {% if msg %}
                  <p style="color:blue;">{{msg}}</p>
                  {% endif %}
        </div>
    </div>
    <div  class="row" class="col-sm-12" style=min-height:80px;background:black;>
        <div class="col-sm-6" style="min-height:80px;color:white;float:left;font-size:25px;margin-left:15px;">
        <p class="h1">Copyright &copy; TO SPEEDEX</p>
        </div>
        <div class="col-sm-6" style="min-height:80px;color:white;float:right;font-size:25px;margin-right:15px;">
            <p class="h1">Developed By:Suchita</p>
         </div>
    </div>




</div>
</body>
</html>