<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Speedex Courier</title>
</head>
<body onload="slide()">
<div class="container-fluid" style="min-height:1000px;border:1px solid;">
    <div  class="row" class="col-sm-12" style="min-height:90px;background-color:white;">
        <div class="col-sm-6" style="min-height:90px;width:300px;float:left;">
            {% load static %}
            <img src="{% static 'images/logo.png' %}" height="90px" width="200px;"/>
        </div>
        <div class="col-sm-6" style="min-height:80px;width:700px;float:right;margin-left:30px;">
            <p class="h1" style="font-size:30px;color:cyan;font-family:forte;">SPEEDEX COURIER SERVICE</p>
        </div>
    </div>
    <div  class="row" class="col-sm-12" style="min-height:40px;">
        <div id="menu3">
		<ul style="list-style-type:none;">
			<li style="display:inline-block;text-align:center;width:150px;padding:15px;background-color:pink;border-radius:5px;"> <a href="{% url 'index' %}">HOME</a></li>
			<li style="display:inline-block;text-align:center;width:150px;padding:15px;background-color:pink;border-radius:5px;"> <a href="{% url 'about' %}">ABOUT US </a></li>
			<li style="display:inline-block;text-align:center;width:150px;padding:15px;background-color:pink;border-radius:5px;"> <a href="{% url 'login' %}">LOGIN</a></li>
			<li style="display:inline-block;text-align:center;width:150px;padding:15px;background-color:pink;border-radius:5px;"> <a href="{% url 'tracking' %}">PACKET TRACKING </a></li>
			<li style="display:inline-block;text-align:center;width:150px;padding:15px;background-color:pink;border-radius:5px;"> <a href="{% url 'complain' %}">COMPLAIN </a></li>
            <li style="display:inline-block;text-align:center;width:150px;padding:15px;background-color:pink;border-radius:5px;"> <a href="{% url 'enquiry' %}">ENQUIRY </a></li>
            <li style="display:inline-block;text-align:center;width:150px;padding:15px;background-color:pink;border-radius:5px;"> <a href="{% url 'career' %}">CAREER</a></li>
		</ul>
        </div>
    </div>
    <div  id="middle" style="min-height:1000px;background-image:url('static/images/bcg5.jpeg');background-size:100% 100%;">
          <form method="post" action="{% url 'saveenquiry' %}">
              {% csrf_token %}
              <h2 style="color:green;text-align:center;font-size:50px;font-style:oblique"><strong><u>Enquiry Form</u></strong></h2>
              <table  style="width:50%;margin:0 auto;font-size:20px;">
                  <tr>
                      <td><b>Enter Your Name</b></td>
                      <td>
                          <input type="text" name="name" required style="width:250px;"/></td></tr>
                  <tr>
                      <td><b>Select Gender</b></td>
                          <td><input type="radio" name="gender" value="Male" required/>Male
                              <input type="radio" name="gender" value="Female" required/>Female</td></tr>
                  <tr>
                      <td><b>Enter Your address</b></td>
                      <td><textarea name="address" required style="height:100px;width:250px;resize:none;"></textarea></td>
                  </tr>
                  <tr>
                      <td><b>Enter Contact No</b></td>
                      <td><input type="text" name="contactno" required style="width:250px;"/></td>
                  </tr>
                  <tr>
                      <td><b>Enter Email-address</b></td>
                      <td><input type="email" name="emailaddress" required style="width:250px;"/></td>
                  </tr>
                  <tr>
                      <td><b>Enter Enquiry Text</b></td>
                      <td><textarea name="enquirytext" required style="height:100px;width:250px;resize:none;"></textarea></td>
                  </tr>
                  <tr>
                      <td>&nbsp;</td>
                      <td><input type="submit" value="Submit" style="width:200px;height:30px;background-color:skyblue;"/></td>
                  </tr>

              </table>
          </form>
         <marquee direction="right" scrollamount="25" height="400px;" onmouseover="stop()" onmouseout="start()">
            {% for n in nf %}
            <p style="color:blue;font-size:20px;">{{n.notificationtext}}</p>
            <p>{{n.posteddate}}</p>
            {% endfor %}
            </marquee>
    </div>
    <div  class="row" class="col-sm-12" style=min-height:80px;background:black;>
        <div class="col-sm-6" style="min-height:80px;color:white;float:left;font-size:25px;margin-left:15px;">
        <p class="h1">Copyright &copy; TO SPEEDEX</p>
        </div>
        <div class="col-sm-6" style="min-height:80px;color:white;float:right;font-size:25px;margin-right:15px;">
            <p class="h1">Developed By:Suchita</p>
         </div>
    </div>




</div>
</body>
</html>